 /*******************
  LOGIN PENTESTER
*******************/
body{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    line-height: 1.7;
    height: 95vh;
    background-image: linear-gradient(
          to left bottom,          
          #03948a,
          #c3e9f0);
    background-size: cover;
}

.box {   
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    padding: 40px;   
    padding-bottom: 50px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #03948a;
    text-align: center;
}

.box .inputbox {
    position: relative;
}

.box .inputbox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #03948a;
    outline: none;
    background: transparent;
}

.box .inputbox label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #03948a;
    pointer-events: none;
    transition: .5s;
}

.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label {
    top: -18px;
    left: 0;
    color: #03948a;
    font-size: 12px;
}

.box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    margin-left: 120px;
    background: #03948ad8;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font: bolder;
    width: 150px;
    text-align: center;
    font-size: 16px;
}

.container {
    margin-left: 1px;
    margin-top: 50px;
    color: #000;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.imgcontainer {
    text-align: center;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.close {
    position: absolute;
    right: 20px;
    top: 0;
    padding-top: 20px;
    color: #03948ad8;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

a.forgotPwd  { 
    color: #000;
    text-decoration: none;
    float: right;
}

.forgotPwd:hover,
.forgotPwd:focus {
    color: #03948ad8;
}
.help-block{
    color: red;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}